# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# prisma
prisma/migrations/*

# Files
public/fonts/*
public/uploads/*
public/js/*
public/css/*
public/images/*
!public/images/icons
!public/images/banners
!public/uploads/cash.png
pages/home.vue